<h1>Historique de <%= @portfolio.label %></h1>

<p>
  <strong>Rendement global :</strong>
  <%= @portfolio.yield_global %> %
</p>

<h2>Évolution de la valeur du portefeuille</h2>

<%= line_chart @historical_values.map { |hv| [hv.date, hv.amount] } %>

<h2>Details sous forme de tableau</h2>

<% if @historical_values.any? %>
  <table>
    <thead>
      <tr>
        <th>Date</th>
        <th>Montant</th>
      </tr>
    </thead>
    <tbody>
      <% @historical_values.each do |hv| %>
        <tr>
          <td><%= hv.date.strftime("%d/%m/%Y") %></td>
          <td><%= number_to_currency(hv.amount, unit: "€", separator: ",", delimiter: " ") %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>Aucune donnée historique pour ce portefeuille.</p>
<% end %>