<div style="margin-bottom: 5rem;">
  <h1>Portfolios de <%= @customer.name %></h1>

  <h2>Indicateurs globaux</h2>

  <p>
    Risque global : <strong><%= @indicators[:global][:risk] %></strong>
    (<%= risk_label(@indicators[:global][:risk]) %>)
  </p>

  <p>Répartition globale :</p>
  <ul>
    <% @indicators[:global][:allocation].each do |type, percent| %>
      <li><%= type.capitalize %> : <%= percent %> %</li>
    <% end %>
  </ul>
</div>

<% @portfolios.each do |portfolio| %>
  <div class="" style="margin-bottom: 5rem;">
    <h2><%= portfolio.label %> (id: <%= portfolio.id %>)</h2>
    <p> type : <%= portfolio.portfolio_type %></p>
    <p>
      Montant total :
      <%= number_to_currency(
        portfolio.total_amount,
        unit: "€",
        separator: ",",
        delimiter: " "
      ) %>
    </p>

    <p>
      <%= link_to "Deposer, retirer ou faire un transfert", arbitrage_portfolio_path(portfolio), class: "btn btn-primary" %>
      <%= link_to "Voir l'historique", historical_values_portfolio_path(portfolio), class: "btn btn-primary" %>
    </p>

    <div>
      <% analysis = @indicators_by_portfolio[portfolio.id] %>

      <% if analysis %>
        <p><strong>Risque moyen :</strong> <%= analysis[:risk] %> (<%= risk_label(analysis[:risk]) %>)</p>

        <p><strong>Répartition :</strong></p>
        <ul>
          <% analysis[:allocation].each do |type, percent| %>
            <li><%= type.capitalize %> : <%= percent %> %</li>
          <% end %>
        </ul>
      <% end %>
    </div>

    <div class="bg-gray-50 shadow rounded-lg p-5">
      <h2>Investissements lié :</h2>
      <% if portfolio.investments.any? %>
        <% portfolio.portfolio_investments.each do |pi| %>
          <div>
            <h3><strong><%= pi.investment.label %></strong></h3>
            <ul>
              <li>
                ISIN : <%= pi.investment.isin %>
              </li>

              <li>
                Prix :
                <%= number_to_currency(
                  pi.investment.price,
                  unit: "€",
                  separator: ",",
                  delimiter: " "
                ) %>
              </li>

              <li>
                Montant investi :
                <%= number_to_currency(
                  pi.amount,
                  unit: "€",
                  separator: ",",
                  delimiter: " "
                ) %>
              </li>

              <li>
                risque level : <%= pi.investment.sri %>
              </li>

              <li>
                part : <%= ((pi.amount.to_f / portfolio.total_amount.to_f) * 100).round(2) %> %
              </li>
            </ul>
          </div>
        <% end %>
      <% else %>
        <p>Aucun investissement pour ce portfolio.</p>
      <% end %>
    </div>
  </div>
<% end %>
